<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>php-todo-list-json</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>Benvenuto, <span class="crossed">non funziona niente</span> queste sono le tue task</h1>

            <ul>
                <li id="giorno" v-for="(singleToDo, index) in toDo" :key="index">
                    {{ singleToDo.giorno }}:
                    <ul>
                        <li :class="{ crossed: singleTask.completato }"
                            v-for="(singleTask, taskIndex) in singleToDo.compiti" :key="taskIndex">
                            {{ singleTask.descrizione }}
                            <input type="checkbox" v-model="singleTask.completato" />
                        </li>
                        <li>
                            <!-- MODIFICA IL VALORE DOVREBBE CAMBIARE CLASSE -->
                            <div class="flex">
                                <input class="hidden" :class="{visible: singleToDo.add}" type="text"
                                    placeholder="nuova task" v-model="addText" @keyup.enter="print(singleToDo.compiti)">
                                <button :class="{visible: singleToDo.add}"
                                    @click="print(singleToDo.compiti), prova(singleToDo)">Invia</button>
                            </div>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <script src="./main.js"></script>
</body>

</html>