<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAPI Client in Vue.js</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>Benvenuto, <span class="crossed">non funziona niente</span>  queste sono le tue task</h1>

            <ul>
                <li id="giorno" v-for="(singleToDo) in toDo">
                    {{ singleToDo.giorno }}:
                    <ul>
                        <li v-for="(singleTask) in singleToDo.compiti">
                            {{ singleTask }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>

    <script src="./main.js"></script>
</body>

</html>