*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}

form {
    margin: 1rem 0;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

.container {
    width: 75%;
    margin: auto;
}

.crossed {
    text-decoration: line-through;
}

li{
    margin-bottom: 0.3rem;
    
}
#giorno {
    margin-bottom: 2rem;
    margin-left: unset;
    font-size: 1.6rem;
    list-style-type: none;

}

#giorno * {
    font-size: 1rem;
    margin-left: 1rem;
}

.completato{
    color: blue;
}